*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 2000px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

.list{
    display: flex;
}

.list li{
    margin: 0 10px;
    list-style:none;

}